.form {
  background-color: $color-dark--2;
  border-radius: 5px;
  padding: 1.75rem 2.75rem;
  margin-bottom: 1.75rem;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.8rem 2.5rem;

  transition: all 0.4s, transform 1ms;

  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;

  &.hidden {
    transform: translateY(-30rem);
    height: 0;
    padding: 0 2.25rem;
    margin-bottom: 0;
    opacity: 0;
  }

  &__row {
    display: flex;
    align-items: center;
  }

  &__row--hidden {
    display: none;
  }

  &__label {
    flex: 0 0 45%;
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__input {
    width: 100%;
    padding: 0.3rem 1.1rem;
    font-family: inherit;
    font-size: 1.4rem;
    border: none;
    border-radius: 3px;
    background-color: $color-light--3;
    transition: all 0.2s;
  }

  &__input:focus {
    outline: none;
    background-color: #fff;
  }

  .btn__container {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
  }
}
