.modal--hidden {
  display: none;
}

.overlay {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-color: $color-dark--2--transparent;
  z-index: 10;
}

// to add overalay on top of the map
.add-overlay {
  z-index: 0;
}

.modal {
  position: absolute;
  z-index: 100;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-dark--1;
  border-radius: 5px;
  padding: 1.5rem 2.25rem;

  &__header {
    text-align: center;
    margin-bottom: 1rem;
  }

  &__form {
    background-color: $color-dark--1 !important;
  }
}
