$color-brand--1: #ffb545;
$color-brand--2: #00c46a;

$color-dark--1: #2d3439;
$color-dark--2: #42484d;
$color-light--1: #aaa;
$color-light--2: #ececec;
$color-light--3: rgb(214, 222, 224);

$color-dark--1--transparent: #2d343996;
$color-dark--2--transparent: #42484dbe;

$color-btn-green: #4d9e01a6;
$color-btn-green--transparent: #4d9e0163;
$color-btn-orange: #b6642d;
$color-btn-orange--transparent: #b6642daf;
