@import 'variables';
@import 'form';
@import 'modal';
@import 'button';

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  @media only screen and (max-width: $bp-sm) {
    font-size: 50%;
  }
}

body {
  font-family: 'Manrope', sans-serif;
  color: $color-light--2;
  font-weight: 400;
  line-height: 1.6;

  overscroll-behavior-y: none;

  background-color: #fff;
}

/* GENERAL */
a:link,
a:visited {
  color: $color-brand--1;
}

/* CONTAINER */
.container {
  display: flex;
  height: calc(100vh - 6.4rem);
  width: 100%;
  @media only screen and (max-width: $bp-lg) {
    flex-direction: column-reverse;
  }
}

/* NAVBAR */
.navbar {
  display: flex;
  padding: 1rem 2.5rem;
  background-color: $color-dark--3;
  justify-content: center;
}

.logo {
  .logo__name {
    font-size: 2.75rem;
    padding: 0 1rem;
  }
  .logo__icon {
    position: relative;
    font-size: 2.5rem;
    top: 1rem;

    &.fa-location-arrow {
      font-size: 2rem;
      top: 1.2rem;
    }
  }
}

/* SIDEBAR */
.sidebar {
  width: 50rem;
  flex-shrink: 0;
  background-color: $color-dark--1;
  padding: 0rem 2.5rem 4rem 2.5rem;
  display: flex;
  flex-direction: column;
  @media only screen and (max-width: $bp-lg) {
    height: 50vh;
    width: 100%;
    padding-top: 1.75rem;
  }
}

.workouts {
  list-style: none;
  height: 80vh;

  // overflow-y: scroll;
  overflow-x: hidden;
  @media only screen and (max-width: $bp-lg) {
    height: 48vh;
  }
  .workouts__message {
    padding-top: 5rem;
    line-height: 2.5;
    text-align: center;
    h2 {
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    &.hidden {
      display: none;
    }
  }
}

.workouts::-webkit-scrollbar {
  width: 0;
}

.workout {
  background-color: $color-dark--2;
  border-radius: 5px;
  padding: 1.5rem 2.25rem;
  margin-bottom: 1.75rem;
  position: relative;
  transition: all 0.2s ease;
  @media only screen and (max-width: $bp-lg) {
    max-width: $bp-md;
    margin-left: auto;
    margin-right: auto;
  }

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  }

  &--running {
    border-left: 5px solid $color-brand--2;
  }
  &--cycling {
    border-left: 5px solid $color-brand--1;
  }

  &__title {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  &__btn__container {
    position: absolute;
    font-size: 1.3rem;
    right: 20px;
    top: 20px;
    color: $color-light--1;
    cursor: pointer;

    .edit-form__btn {
      margin-right: 2rem;
    }

    .edit-form__btn,
    .delete__btn {
      transition: all 0.2s ease;
      &:hover {
        color: $color-light--2;
        transform: scale(1.2);
      }
    }
  }

  &__details__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.75rem 1.5rem;
  }

  &__details {
    display: flex;
    align-items: baseline;
  }

  &__icon {
    font-size: 1.8rem;
    margin-right: 0.2rem;
    height: 0.28rem;
  }

  &__value {
    font-size: 1.5rem;
    margin-right: 0.5rem;
  }

  &__unit {
    font-size: 1.1rem;
    color: $color-light--1;
    text-transform: uppercase;
    font-weight: 800;
  }
}

/* MAP */
#map {
  width: 100%;
  height: 100%;
  background-color: $color-light--1;
}

/* Popup width defined in javascript */
.leaflet-popup {
  .leaflet-popup-content-wrapper {
    background-color: $color-dark--1;
    color: $color-light--2;
    border-radius: 5px;
    padding-right: 0.6rem;
  }

  .leaflet-popup-content {
    font-size: 1.5rem;
  }

  .leaflet-popup-tip {
    background-color: $color-dark--1;
  }
}

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid $color-brand--2;
}
.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid $color-brand--1;
}
